.banners {
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include xs {
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;

    @include md {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex-shrink: 0;
    width: 33%;

    &:not(:last-child) {
      margin-right: 0.6%;
    }

    @include md {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.banners-article {
  padding: 54px 60px;
  padding-right: 45%;
  min-height: 290px;


  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  &--midseason,
  &--summer,
  &--accs {
    position: relative;
    width: 100%;
    min-height: 300px; /* або інша мінімальна висота, яку ви визначите */
    overflow: hidden;
  }
  
  &--midseason::before,
  &--summer::before,
  &--accs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Прозорість фонового зображення */
  }
  
  &--midseason {
    &::before {
      background-image: url("../img/kantstovar1.jpg");
    }
  }
  
  &--summer {
    &::before {
      background-image: url("../img/Kupit-kantselyariyu2.jpg");
    }
  }
  
  &--accs {
    &::before {
      background-image: url("../img/kanctovary3.jpg");
    }
  }

  @include md {
    padding: 50px 20px;
  }

  @include sm {
    padding-right: 150px;
  }
}
